# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List data science libraries
- List data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. dplyr
3. stringr

|Data Science Tools|
|--------------------|
| RStudio|
| Apache Spark|
| TensorFlow|

### Below are a few examples of evaluting arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Kai Sun Luk